<div class="card_picture" style="background-image: url(<%= image_path 'blue-notebook.jpg' %>)">
  <% link_to "https://www.etsy.com/fr/shop/AtelierMillimetre", target: :_blank do %>
    <div class="card-hover">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <h2>E-SHOP</h2>
          <h4>Chez MILLIMÈTRE tous les objets sont fabriqués à la main dans notre atelier.</h4>
        </div>
        <div class="col-xs-12 col-sm-4">
          <button class="btn btn-eshop">Visiter l’E-Shop</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
