<div id="modal">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div id="contact-box">
          <a class="button-close">&times;</a>
          <div class="contact-section" style="padding: 30px 0;">
            <div class="logo">
              <% link_to "#" do %>
                <%= image_tag 'atelier_millimetre_logo.png' %>
              <% end %>
            </div>
            <div class="contact-section-info">
              <h3>Atelier Millimètre</h3>
              <h4>Paris</h4>
              <h4>06.77.44.44.44</h4>
            </div>
          </div>
          <form id="contact-form" method="POST" action="https://formspree.io/mm.millimetre@gmail.com">
            <div class="wrapper-form">
              <div class="form-row">
                <div class="form-group col-xs-12 col-sm-6">
                  <input type="email" placeholder="Votre email" class="form-control" name="email">
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                  <input type="objet" placeholder="L'objet de votre message" class="form-control" name="subject">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-xs-12">
                  <textarea placeholder="Votre message" class="form-control" style="resize:none;height: 150px;" name="message"></textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-xs-12">
                  <button class="btn btn-primary pull-right">Envoyer</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
