<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="footer-frame">
          <div class="row">
            <div class="col-md-3">
              <div class="contact-section hidden-xs hidden-sm">
                <div class="contact-section-info">
                  <h3>MILLIMÈTRE</h3>
                  <h4>Paris / Bourgogne</h4>
                  <h4>06.43.82.92.67</h4>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 text-center">
              Todo: logo M (spécialiste de petite chose)
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="copyright-credits">
                <h4><strong>CRÉDITS PHOTO</strong></h4>
                <p>Maud Lazzerini</p>
                <p>Victor Tsaconas</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="terms-of-use">
          <p>Atelier Millimètre 2018</p>
          <div class="dot"></div>
          <p class="hidden-xs"><%= link_to "Mentions légales", "/mentions_legales.html" %></p>
          <p class="visible-xs"><%= link_to "CGU", "/conditions_generales_d_utilisation.html" %></p>
        </div>
      </div>
    </div>
  </div>
</div>


