<div class="homepage-carousel">
  <div data-pic="1" data-image="notebook.jpg" class="dot-lg picture1 active"></div>
  <div data-pic="2" data-image="frames.jpg" class="dot-lg picture2"></div>
  <div data-pic="3" data-image="millimetre.jpg" class="dot-lg picture3"></div>
  <div data-pic="4" data-image="atelier.jpg" class="dot-lg picture4"></div>
</div>
