<div id="navbar">
  <div class="container">
    <div class="desktop-content">
      <div class="links">
        <ul>
          <li>
            <% link_to "les_cadres" do %>
              Les cadres
            <% end %>
          </li>
          <li>
            <% link_to "les_carnets" do %>
              Les carnets
            <% end %>
          </li>
          <li>
            <% link_to "#" do %>
              Les éditions
            <% end %>
          </li>
        </ul>
      </div>
      <div class="logo">
        <% link_to "#" do %>
          <%= image_tag 'mm_logo.png' %>
        <% end %>
      </div>
      <div class="links">
        <ul>
          <li>
            <% link_to "#" do %>
              L'atelier
            <% end %>
          </li>
          <li>
            <% link_to "#" do %>
              Points de ventes
            <% end %>
          </li>
          <li class="contact-trigger">
            <% link_to "#" do %>
              Contact
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="mobile-content">
      <div class="logo">
        <% link_to "#" do %>
          <%= image_tag 'mm_logo.png' %>
        <% end %>
      </div>
      <div class="menu-toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <ul>
        <li class="text-center">
          <% link_to "les_cadres" do %>
            Les cadres
          <% end %>
        </li>
        <li class="text-center">
          <% link_to "les_carnets" do %>
            Les carnets
          <% end %>
        </li>
        <li class="text-center">
          <% link_to "#" do %>
            Les éditions
          <% end %>
        </li>
        <li class="text-center">
          <% link_to "#" do %>
            L'atelier
          <% end %>
        </li>
        <li class="text-center">
          <% link_to "#" do %>
            Points de ventes
          <% end %>
        </li>
        <li class="text-center contact-trigger">
          <% link_to "#" do %>
            Contact
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
