<div id="navbar">
  <div class="container">
    <div class="navbar-content">
      <div class="links">
        <ul>
          <li>
            <% link_to "#" do %>
              Les cadres
            <% end %>
          </li>
          <li>
            <% link_to "#" do %>
              Les carnets
            <% end %>
          </li>
          <li>
            <% link_to "#" do %>
              Les éditions
            <% end %>
          </li>
        </ul>
      </div>
      <div id="logo">
        <% link_to "#" do %>
          <%= image_tag 'mm_logo.png' %>
        <% end %>
      </div>
      <div class="links">
        <ul>
          <li>
            <% link_to "#" do %>
              L'atelier
            <% end %>
          </li>
          <li>
            <% link_to "#" do %>
              Points de ventes
            <% end %>
          </li>
          <li>
            <% link_to "#" do %>
              Contact
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="mobile-content">
      <div id="logo">
        <% link_to "#" do %>
          <%= image_tag 'mm_logo.png' %>
        <% end %>
      </div>
      <ul id="mobile-menu">
        <li><a class="scroll" href="#features">Features</a></li>
        <li><a class="scroll" href="#usage">Usage Instructions</a></li>
        <li><a class="scroll" href="#examples">Examples</a></li>
      </ul>
    </div>
  </div>
</div>
