<div id="product-carousel" data-product-type="<%= type %>">
  <div class="product-container">
  </div>
  <div class="loader">
    <div class="dot one"></div>
    <div class="dot two"></div>
    <div class="dot three"></div>
  </div>
</div>
<div id="product-details"></div>
