<div class="right-links">
  <div class="social-link">
    <a href="https://www.facebook.com/atelier.millimetre/" target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
  </div>
  <div class="social-link">
    <a href="https://www.instagram.com/atelier.millimetre/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  <div class="social-link">
    <a href="https://www.pinterest.fr/ateliermillimetre/" target="_blank">
      <i class="fab fa-pinterest-p"></i>
    </a>
  </div>
</div>
