.banner {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 65px;
  transition: all .5s ease;

  & > a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &.mask {
    opacity: 0;
  }
}

.banner-title {
  background-color: white;
  position: absolute;
  left: 0px;
  top: 40px;
  h1 {
    font-family: $base-font;
    padding: 16px 32px;
    margin: 0;
  }
}
