#footer {
  border-top: 1px solid $green;
}
.footer-frame {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Contact
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    padding-right: 20px;
  }
}
.contact-section-info h4 {
  font-family: $base-font;
}

// Social media
.social-media {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 32px;
    padding: 0 5px;
  }
}

// Credits photo
.copyright-credits {
  p {
    font-size: 16px;
  }
  @media (max-width: $breakpoint-md) {
    text-align: center;
    h4, p {
      font-size: 90%;
    }
  }
}

// Terms of use
.terms-of-use {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: $black;
  p {
    font-size: 12px;
    margin: 0;
  }
}
