.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;

  &.mask {
    z-index: -1;

    .dot {
      display: none;
    }
  }

  .dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    transition: .3s margin-bottom ease;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-name: move;
  }

  .two {
    animation-delay: .15s;
  }
  .three {
    animation-delay: .3s;
  }
}

@keyframes move {
  0% {
    margin-bottom: -10px;
  }

  50% {
    margin-bottom: 10px;
  }

  100% {
    margin-bottom: -10px;
  }
}
