.right-links {
  position: fixed;
  top: 160px;
  right: 32px;

  & > div {
    margin-bottom: 8px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    display: none;
  }
}

.social-link {
  background: $black;
  width: 32px;
  height: 32px;
  position: relative;
  transition: opacity .2s ease;

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
  }

  &:hover {
    opacity: .7;
  }
}
