//Homepage

.dotted-underline {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21px, 1fr));
}

.dot {
  background: $green;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  &.first {
    margin-left: 0;
  }
  &.empty {
    background: transparent;
    border: 1px solid $green;
  }
}
