div#container-editions {
  position: relative;
  min-height: 300px;
}

img.image-editions {
  width: 100%;
}

.text-editions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  @media (max-width: $breakpoint-lg) {
    height: 330px;
  }
  @media (max-width: $breakpoint-md) {
    height: 260px;
  }
  @media (max-width: $breakpoint-sm) {
    height: inherit;
    margin: 30px 0;
  }
}
