// Default font-weight
body {
  font-weight: 300;
}

// Links font-weight
a {
  font-weight: 400;
  transition: color .1s ease;
}

.dot {
  background: $green;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  margin: 0 10px;
}

#page-content {
  min-height: calc(100vh - 431px);
}
