// Default font-weight
body {
  font-weight: 300;
}

// Links font-weight
a {
  font-weight: 400;
  transition: color .1s ease;
}

// Default style for paragraph
p {
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 8px;
}

// page content min size
#page-content {
  min-height: calc(100vh - 511px);
}

// margin-bottom
.margin-bottom-40 {
  margin-bottom: 40px;
}
