---
title: Atelier Millimètre : Spécialiste de petites choses
---

<div id="homepage">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="banner" style="background-image: url(<%= image_path 'notebook.jpg' %>)">
          <div class="banner-title">
            <h1>MORCEAUX CHOISIS carnets singuliers</h1>
          </div>
          <%= partial 'components/homepage_carousel' %>
        </div>
      </div>
      <div class="col-xs-offset-1 col-xs-10">
        <div class="home-content" style="margin-bottom:110px;">
          <h1 style="margin-bottom:2px;"><strong>MILLIMÈTRE. <br class="hidden-md hidden-lg"> spécialiste de petites choses</strong></h1>
          <div class="dotted-underline hidden-xs">
            <% 21.times do %>
              <div class="dot"></div>
            <% end %>
            <% 9.times do %>
              <div class="dot hidden-sm"></div>
            <% end %>
          </div>
          <div class="cards">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="card-body">
                  <%= partial 'components/card_instagram' %>
                </div>
              </div>
              <div class="col-xs-12 col-md-8">
                <div class="card-body">
                  <%= partial 'components/card_eshop' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
