---
title: Atelier Millimètre : Spécialiste de petites choses
---

<div class="tmp-page">
  <%= image_tag "mm_logo.png"%>
  <h1>Atelier Millimètre</h1>
  <p>Site en construction. Retrouvez-nous sur :</p>
  <a href="#" class="btn btn-primary">test</a>
  <p style="display: flex;">
    <a href="https://www.etsy.com/fr/shop/AtelierMillimetre">Etsy</a>
    <span style="margin: 0 10px;">-</span>
    <a href="https://www.instagram.com/atelier.millimetre/">Instagram</a>
  </p>
</div>
