---
title: Découvrir l'atelier Millimètre - spécialiste de petites choses
---
<div class="container">
  <div class="row margin-bottom-40">
    <div class="col-xs-12 col-sm-6">
      <div class="text-atelier">
        <h1>l'atelier</h1>
        <p>
          L’atelier millimètre est spécialisé dans les petites choses.
        </p>
        <p>
          On coud des carnets, on construit des cadres, on bricole des livres et on invente des trucs.
        </p>
        <p>
          Relieuse de formation, Maël de l’atelier millimètre, mêle à son imagination un savoir-faire pointu. Ici, on s’amuse, on s’emporte et on s’applique pour faire de chacun de nos objets une création authentique.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'atelier-1.jpg', class: "img-atelier", alt: "TODO" %>
    </div>
  </div>
  <div class="row margin-bottom-40">
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'atelier-2.jpg', class: "img-atelier", alt: "TODO" %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="text-atelier">
        <p>
          Tous nos objets sont des pièces uniques, fabriquées à la main, dans notre atelier parisien.
        </p>
        <p>
          On utilise essentiellement du carton, du papier, du tissu et du cuir. La majorité des matériaux utilisés sont des rejets de l’industrie ou issus de récupération et de recyclage.
        </p>
      </div>
    </div>
  </div>
  <div class="row margin-bottom-40">
    <div class="col-xs-12 col-sm-6">
      <div class="text-atelier">
        <h3>
          Nos collaborateurs:
        </h3>
        <ul class="mm-list">
          <li>Eulalie Thiou : graphiste</li>
          <li>Charlène Desclerc : graphiste</li>
          <li>Maud Lazzerini : photographe et cinéaste</li>
          <li>Victor Tsaconas : photographe</li>
          <li>Roxane Dasseux : photographe et vidéaste</li>
          <li>Germain Loret : développeur</li>
          <li>Florestan Lefevre : développeur</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'atelier-3.jpg', class: "img-atelier", alt: "TODO" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="text-center">
        Nous sommes toujours curieux de découvrir de nouvelles choses, qu’elles soient petites, grandes, maladroites ou sauvages …
        <br>
        <a href="#" class="contact-trigger">N'hésitez pas à nous écrire !</a>
      </p>
    </div>
  </div>
</div>
