<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>l'atelier</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div id="atelier-pictures">
        <div class="about">
          <%= image_tag "millimetre.jpg", data: { image_id: 1 } %>
        </div>
        <div class="fabrication">
          <%= image_tag "atelier.jpg", data: { image_id: 2 } %>
        </div>
        <div class="collaborateurs">
          <%= image_tag "millimetre.jpg", data: { image_id: 3 } %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-1">
      <div id="dots">
        <div class="dot" data-dot-id="1"></div>
        <div class="dot empty" data-dot-id="2"></div>
        <div class="dot empty" data-dot-id="3"></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-7">
      <div id="atelier-content">
        <div class="about" data-text-id="1">
          <h2>à propos</h2>
          <p>L’atelier millimètre est spécialisé dans les petites choses.</p>
          <p>
            On coud des carnets, on construit des cadres, on bricole des livres et on invente des trucs.
          </p>
          <p>
            Relieuse de formation, Maël de l’atelier millimètre, mêle à son imagination un savoir-faire pointu. Ici, on s’amuse, on s’emporte et on s’applique pour faire de chacun de nos objets une création authentique.
          </p>
        </div>
        <div class="fabrication hidden" data-text-id="2">
          <h2>fabrication</h2>
          <p>
            Tous nos objets sont des pièces uniques, fabriquées à la main, dans notre atelier parisien.
          </p>
          <p>
            On utilise essentiellement du carton, du papier, du tissu et du cuir. La majorité des matériaux utilisés sont des rejets de l’industrie ou issus de récupération et de recyclage.
          </p>
        </div>
        <div class="collaborateurs hidden" data-text-id="3">
          <h2>collaborateurs:</h2>
          <ul class="mm-list">
            <li>Eulalie Thiou : graphiste</li>
            <li>Charlène Desclerc : graphiste</li>
            <li>Maud Lazzerini : photographe et cinéaste</li>
            <li>Victor Tsaconas : photographe</li>
            <li>Roxane Dasseux : photographe et vidéaste</li>
            <li>Germain Loret : développeur</li>
            <li>Florestan Lefevre : développeur</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
