<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>les cadres</h1>
    </div>
    <div class="col-xs-12">
      <div class="product-carousel">

      </div>
    </div>
  </div>
</div>
