---
title: Atelier Millimètre - Les éditions
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>les éditions minuscules</h1>
      <p>Les éditions minuscules sont une fabrique de livres, un atelier du détail et un imprimeur du sensible.
      <p>Chaque livre et curiosité sont fabriqués à la main avec beaucoup d’attention et un peu d’impertinence.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="h2">le mégot</div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'megot1.jpg', class: "image-editions", alt: "Éditions minuscules - Atelier Millimètre" %>
    </div>
    <div class="col-xs-12 col-sm-6 text-editions text-center">
      <p>Laissez vous tenter par ce petit bout de cigarette.</p>
      <p>Mégot authentique accompagné de sa notice d’utilisation.</p>
      <p><br><a href="#" class="btn btn-secondary" target="_blank">Acheter en ligne</a></p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'megot3.jpg', class: "image-editions", alt: "Livre atelier Millimètre" %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'megot2.jpg', class: "image-editions", alt: "impression atelier Millimètre" %>
    </div>
  </div>
</div>
