---
title: Atelier Millimètre - Les éditions
description: Découvrez les éditions minuscules, des livres édités par l'atelier millimètre. Les éditions minuscules sont une fabrique de livres, un atelier du détail et un imprimeur du sensible.
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">LES ÉDITIONS MINUSCULES</h1>
      <p class="text-center">Les éditions minuscules sont une fabrique de livres, un atelier du détail et un imprimeur du sensible.
      <p class="text-center">Chaque livre et curiosité sont fabriqués à la main avec beaucoup d’attention et d’impertinence.</p>
    </div>
    <div class="col-xs-12">
      <div class="buttons-editions">
        <a class="btn btn-secondary s-black" target="_blank" href="https://www.etsy.com/fr/shop/ateliermillimetre?section_id=23236645">Acheter</a>
        <a class="btn btn-secondary s-black" target="_blank" href="https://www.instagram.com/les.editions.minuscules/?hl=fr">Suivre</a>
      </div>
      <div>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div id="container-editions" data-product-type="edition">
  <%= partial 'components/loader' %>
  </div>
</div>
