---
title: Atelier Millimètre - Les éditions
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>les éditions minuscules</h1>
      <p>Les éditions minuscules sont une fabrique de livres, un atelier du détail et un imprimeur du sensible.
      <p>Chaque livre et curiosité sont fabriqués à la main avec beaucoup d’attention et un peu d’impertinence.</p>
    </div>
  </div>
  <div id="container-editions" data-product-type="edition">
  <%= partial 'components/loader' %>
  </div>
</div>
