---
title: Atelier Millimètre - Les cadres
description: Découvrez tous les cadres de l'atelier millimètre. Tous les cadres sont créés à la main dans notre atelier à Paris.
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>les cadres</h1>
    </div>
    <div class="col-xs-12">
      <%= partial "components/product_carousel", locals: { type: 'cadre' } %>
    </div>
  </div>
</div>
