<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>les cadres</h1>
    </div>
    <div class="col-xs-12">
      <div class="product-carousel">
        <div class="product-container">
          <div class="product-picture">
            <img src="https://scontent-cdt1-1.cdninstagram.com/vp/473128d93d4750e2f45127366d8131bb/5B835D7E/t51.2885-15/s640x640/sh0.08/e35/31117253_778636608998108_3716725708521734144_n.jpg" alt="TODO">
          </div>
          <div class="product-picture">
            <img src="https://scontent-cdt1-1.cdninstagram.com/vp/4cb1488f60578451238cae72ceed6c09/5B80B51A/t51.2885-15/e35/30991716_204363047012341_8544655960138842112_n.jpg" alt="TODO">
          </div>
          <div class="product-picture">
            <img src="https://scontent-cdt1-1.cdninstagram.com/vp/22e541ee9b59bd30951933c749f00c83/5B811EEC/t51.2885-15/s640x640/sh0.08/e35/c180.0.720.720/30604349_441648089628353_8318728061755326464_n.jpg" alt="TODO">
          </div>
          <div class="product-picture">
            <img src="https://scontent-cdt1-1.cdninstagram.com/vp/09e4693eedf9bebc37574c6b2ae1451c/5B77BDA8/t51.2885-15/s640x640/sh0.08/e35/c180.0.720.720/30603674_213039305960453_4894460244219920384_n.jpg" alt="TODO">
          </div>
          <div class="product-picture">
            <img src="https://scontent-cdt1-1.cdninstagram.com/vp/6f5b20fab4ce190dccca5d2032c84495/5B85A469/t51.2885-15/s640x640/sh0.08/e35/c180.0.720.720/30841379_386613718522072_896919338978639872_n.jpg" alt="TODO">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
