---
title: Atelier Millimètre - Les carnets
---


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>les carnets</h1>
    </div>
    <div class="col-xs-12">
      <%= partial "components/product_carousel", locals: { type: 'carnet' } %>
    </div>
  </div>
</div>
