---
title: Atelier Millimètre - Les cadres
---

<a href="" class="btn btn-secondary">tets</a>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>les cadres</h1>
    </div>
    <div class="col-xs-12">
      <%= partial "components/product_carousel", locals: { type: 'cadre' } %>
    </div>
  </div>
</div>
