---
title: Atelier Millimètre - Mentions légales
---

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h1>mentions légales</h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
      <h3>Raison sociale</h3>
      <p>Atelier mm millimètre</p>
      <p>34, bis boulevard Robert Schuman</p>
      <p>21000 Dijon</p>
      <br>
      <p>06.43.82.92.67</p>
      <p>mm.millimetre@gmail.com</p>
      <br>
      <p>n° de Siret : 804 139 525 00013</p>
      <p>TVA non applicable, article 293 B du CGI </p>
      <br>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-5">
      <h3>Hébergement</h3>
      <p>Github Pages</p>
      <br>
      <p>88 Colin P Kelly Junior Street</p>
      <p>San Francisco, CA 94107</p>
      <p>United States</p>
      <br>
      <h3>Responsable de la publication</h3>
      <p>Maël Sebille</p>
    </div>
  </div>
</div>
