---
title: Atelier Millimètre - Les points de vente
---

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="container-green">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10">
            <h2 class="uppercase">Distribuer Millimètre</h2>
            <p>Demandez notre catalogue via le formulaire de contact ou par téléphone.
              On est super content !
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10">
            <h2 class="uppercase">Boutique en ligne</h2>
            <p>Visitez notre boutique Etsy.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <%= image_tag 'megot1.jpg', class: "image-editions", alt: "Distribuer millimètre" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= image_tag 'megot1.jpg', class: "image-editions", alt: "Salons millimètre" %>
    </div>
    <div class="col-xs-6">
      <div class="container-white">
        <h2 class="uppercase">Salons</h2>
        <p>Salon 1</p>
        <p>Salon 2</p>
        <h2 class="uppercase">Boutiques</h2>
        <p>Boutique 1</p>
        <p>Boutique 2</p>
      </div>
    </div>
  </div>
</div>
