---
title: Atelier Millimètre - Les points de vente
---
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-7 col-xs-12">
      <div class="container-vente green">
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <h2 class="uppercase">Distribuer Millimètre</h2>
            <p>Demandez notre catalogue via le formulaire de contact ou par téléphone.
              On est super content !
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <h2 class="uppercase">Boutique en ligne</h2>
            <p>Visitez notre boutique Etsy.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-xs-12">
      <%= image_tag 'blue-notebook.jpg', class: "image-vente top hidden-xs", alt: "Distribuer millimètre" %>
    </div>
  </div>
  <div class="row">
    <div class="pictures-vente-xs">
      <div class="col-xs-6">
        <%= image_tag 'millimetre.jpg', class: "image-vente visible-xs left", alt: "Distribuer millimètre" %>
      </div>
      <div class="col-xs-6">
        <%= image_tag 'blue-notebook.jpg', class: "image-vente visible-xs right", alt: "Distribuer millimètre" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <%= image_tag 'blue-notebook.jpg', class: "image-vente low hidden-xs", alt: "Distribuer millimètre" %>
    </div>
    <div class="col-sm-7 col-xs-12">
      <div class="container-vente">
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <h2 class="uppercase">Salons</h2>
            <p>Salon 1</p>
            <p>Salon 2</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <h2 class="uppercase">Boutiques</h2>
            <p>Boutique 1</p>
            <p>Boutique 2</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
